    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    body{
        
    }
    .logo {
        height: 100px;
        float: left;
        position: absolute;
        top: 0;
        left: auto;
        z-index: 10;
    }

    .navbar-relative {
        position: relative;
    }

  .btn-donate {
      background-color: #f35023;
      color: #fff;
      border-radius: 0;
  }

  .btn-adopt {
      background-color: #f89b1e;
      color: #fff;
      border-radius: 0;
      margin-right: auto;
  }

  .social-icons i {
      font-size: 18px;
      color: #f89b1e;
      margin-left: 10px;
  }

  .top-bar {
      background: #000;
      color: #fff;
      font-size: 14px;
      padding: 5px 0;
  }
.contactlink {
      margin-left:auto;
      padding-right:350px;
}
.navbuttons{
      
}